* {
    padding: 0px;
    margin: 0px;
}
body {
    height: 100vh;
}
.flex-container {
    display: flex;
    height: 100%;
}
.sideBar {
    background-color: rgb(52 73 94);
    flex: 1;
    min-width: 300px;
    height: 100%;
}
.mainContainer {
    flex: 3.5;
    min-width: 800px;
    height: 100%;
    position: relative;
}
.headerBar {
    display: flex;
    flex-direction: row;
    background-color: rgb(71 187 126);
    height: 50px;
    align-items: center;
}
.headerBar img {
    height: 40px;
    margin-left: 50px;
}
.headerBar header {
    color: white;
    font-size: 20px;
}
.headerNavigationBar{
    position: relative;
    display: block;
    font-size: 17px;
    color:white;
    font-weight: bold;
    padding: 25px 50px 10px 30px;
    border-bottom: 1px solid white;
}
.ItemsContainer {
    color:white;
    padding: 15px 50px 10px 30px;
}
.ItemsContainer div {
    margin-bottom: 15px;
}
.mainContainerHeader {
    height: 50px;
    border-bottom: 1px solid rgb(51 73 97);
}
.mainContainerHeader div{
    color: rgb(51 73 97);
    font-size: 30px;
    font-weight: bold;
    margin-left:40px;
    padding-top: 5px;
}
.footer {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(236 240 241);
    border-top: 1px solid darkgray;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
.footer div{
    padding: 20px 0px;
    align-items:center;
}
.footer header:first-child{
    color: rgb(51 73 97);
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 8px;

}
.mainContainerBody {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 50px 40px;
}
li {
    list-style: none;
    margin-bottom: 6px;
}
#errors p {
    margin: 5px 0;
    color: red;
}
.booksListContainer {
    display: flex;
    flex-direction: column;
}
#myBooksContainer {
    overflow: auto;
    max-height: 200px;
}
#myBooks {
    margin-bottom: 20px;
    border-bottom:1px solid black;
}
#newBook h1{
    margin-bottom: 20px;
    border-bottom:1px solid black;
}
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 70px;
    text-align: left;
}
input {
  display: inline-block;
  float: left;
  margin-bottom: 4px;
}
button {
    margin-top: 20px;
    margin-bottom: 30px;
}
.invalidInput {
    border: 1px solid red !important;
}
.invalidInput:focus {
    outline-color: red;
}
.invalidText {
    visibility: hidden;
    clear: left;
    color:red;
    margin-bottom: 10px;
    font-size: 12px;
}
.errorContainer {
    display:flex;
    flex-direction: column;
}
#errorDuplicate {
    color: red;
    visibility: hidden;
    font-size:20px;
    font-weight: bold;
}
